include CHANGELOG.md CITATION.cff CONTRIBUTING.md LICENSE README.md SECURITY.md
recursive-include docs *.md
recursive-include examples *.json *.py
recursive-include schema *.json
recursive-include tests *.py
